.category-badge-container {
  background: #c4c4c4;
  padding: 7px;
  border-radius: 10px;
  height: 33px;
  color: #424242;
  font-weight: 700;
  letter-spacing: -0.015em;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 13px;
}
